*,*::after,*::before{
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    font-size: 1.6rem;
    font-family: "Poppins";
    background-image: url("./img/daria-nepriakhina-wcomiVt0w1c-unsplash-min.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    background-color: #FFF;
    border-radius: 1rem;
    width: 90vmin;
    padding: 8rem 5rem;
    box-shadow: 0 2rem 4rem rgba(38, 33, 61, 0.2);
}
.main-card{
    display: block;
}
.card__title{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 3.2rem;
    margin-bottom: 3rem;
    gap: .5rem;
    color: rgb(43, 47, 43);
}
.card__title img{
    width: 6rem;
}
.searchBox{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.searchBox input{
    width: 70%;
    height: 5.5rem;
    border: none;
    outline: none;
    padding: .5rem;
    border-bottom: 2px solid rgb(176, 195, 176);
    font-size: 1.6rem;

}
.searchBox button{
    width: 25%;
    padding: .5rem 0;
    background-color: rgb(176, 195, 176);
    color: #FFF;
    border: none;
    outline: none;
    height: 5.5rem;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
}
.result{
    margin-top: 5rem;
    padding: 0 1rem;
}
.word{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.word h3{
    font-size: 3.4rem;
    font-weight: 600;
    color: rgb(43, 47, 43);
}
.word button{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 2rem;
    color: rgb(176, 195, 176);
    cursor: pointer;
}
.details{
    display: flex;
    gap: 1.2rem;
    color: rgb(176, 195, 176);
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.word-meaning{
    color: rgb(43, 47, 43);
    line-height: 1.6;
}
.word-example{
    color: rgb(43, 47, 43);
    border-left: .5rem solid rgb(176, 195, 176);
    margin-top: 3rem;
    padding-left: 2rem;
    font-style: italic;
    line-height: 1.6;
}